.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

.box-section {
  display: inline-block;
  margin: 10px;
  padding: 30px;
  border: 2px solid #000;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.box-section:hover {
  background-color: #f9e790;
  box-shadow: 0px 0px 10px 0px goldenrod;
}

.box-section a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.box-section a svg {
  margin: 10px;
  margin-bottom: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.h2 {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #f88f06;
}

.svg-content{
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;


}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a0909; /* Adjust background color as needed */
  padding: 20px;
}

.social {
  display: flex;
  align-items: center;
}

.social .line {
  height: 2px;
  width: 50px;
  margin-right: 10px;
  flex-grow: 1;
  border-top: 2px solid rgb(255, 153, 0);
  border-radius: 1rem;
}

.social .links {
  display: flex;
  height:25px;
  fill:#0c0b0b;
  

}

.social .links a {
  margin-right: 10px;
  position: relative;
  top: -10px;
  padding: 0 50px;
  color: #000;
}

.social .links a:hover{
  color: #f88f06;
}

h2 {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  padding: 0px 0;
  color: rgb(255, 153, 0);
  font-weight:normal;
  font-size:2rem;
}
