.project-card {
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  color: rgb(109, 72, 4);
  border-radius: 2rem;
  background-color: rgb(181, 209, 204);
}

.project-card:hover {
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
}

.project-card img {
  height: 200px; /* Adjust height as needed */
  object-fit: cover;
}

.card-body {
  padding: 20px;
  background-color: rgb(181, 209, 204);

}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
}

.btn {
  margin-top: 150px;
  gap: 2rem;
  border-radius: 3rem;
}
