footer{
  background: #31333B;
  border-radius: 1rem;
  div.social{
    display:flex;
    svg{
      height:25px;
      fill:#373636;
    }
    div.links{
      padding: 0 50px;
      a{
        position: relative;
        top: -10px;
        padding: 0 6px;
      }
    }
    .line{
      flex-grow: 1;
      border-top: 2px solid gold;
      border-radius: 1rem;
    }
  }
  h2{
    margin-bottom: 0;
    text-align: center;
    padding: 0px 0;
    color: gold;
    font-weight:normal;
    font-size:2rem;
  }
}